body {
    padding: 20px 20px;
    background-image: url('../img/greeninvert5.png');
    background-color: rgba(240, 248, 255, 0.793);
    color: #0c4a7f;
}

th,
td {
    background-color: white;
    border: solid 1px rgba(61, 61, 75, 0.26);
    ;
}

header {
    background-color: rgba(124, 187, 243, 0.404);
    color: #0c4a7f;
    border-radius: 8%;
    padding: 10px;
    text-transform: uppercase;
}

.subheader {
    color: #337ab7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

.container {
    /* border:1px solid rgba(124,188,243,.4); */
    border: 1px solid brown;
    padding: 15px;
    border-radius: 8%;
    width: 90%;
    height: 600px;
}

.navigation {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    font-size: 1.8rem;
    text-transform: uppercase;
}

a.navi {
    color: #0c4a7f;
}

a.login {
    font-size: 1.1rem;
    float: right;
    padding-right: 10px;
}

.message {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

span.query {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 5px;
    margin: 10px 0px;
    border: solid 1px rgba(0, 0, 255, 0.459);
}

span.query:hover {
    text-decoration: none;
}

.tablediv {
    max-height: 300px;
    overflow-y: scroll;
}