 {%  extends "base.jinja2" %}
 {% block title %} Bitcoinist Console {{ input }} {% endblock %}
 {%  block body %} 
 <div class="container">  
 
<h3>Console Messages</h3>
<br />
<div class="message">

<p>Passing variables through Query String Input: /query?a=test&b=123, or /query?a=x&b=y</p>
<span class="query"><a href="/query?a=test&b=123">Query</a></span><br />
<hr>
<p>Name : {{ input }}</p><br />
<p>Message:  {{ message }} </p>  
</div>

<br />
 
</div>
{% endblock %}