 {%  extends "base.jinja2" %}
 {% block title %} Bitcoinist Console {{ input }} {% endblock %}
 {%  block body %} 
 <div class="container">  
 
<h3>Dashboard Console</h3>
<br />
<div class="message">
<a class="navi" href="/currencies"><button>Analytics</button></a> 
<br />
 
<div class="tablediv">
<table class="table table-hover">
<thead>
	<tr>
		<th scope="col">Coin</th> 
		<th scope="col">Date Added</th>
		<th scope="col">Action</th>
	</tr>
</thead>
{% for task in tasks %}
	<tr> 
		<td>{{ task.content }}</td>
		<td>{{ task.date_created.date() }}</td>
		<td>
			<a href="/delete/{{ task.id }}">Delete</a><br />
			<a href="/update/{{ task.id }}">Update</a>
		</td>
	</tr>
{% endfor %}  
</table>
</div>
{% endif %}  
<form action="/dashboard" method="POST" >
{# 
	<label>Select Currency</label><br />
	<input type="text" name="content" id="content">
	 <input type="submit" value="Add Coin"> 
	 <hr> #}
	<label>Buy Price Per Coin</label>
	<div class="input-group">
 		<span class="input-group-addon">BTC</span> 
 	 <input type="text" name="btc" id="btc" class="form-control" value="{{request.form.btc}}">   
  	</div> 
	<div class="form-group">
		<label>Profit Percent Required</label>
 	 <input type="text" name="profit"	class="form-control" value="{{request.form.profit}}"> 
	</div>
 <button type="submit" value="Add Coin" class="btn btn-primary">Submit</button>  
</form>
 
 {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}   

</div>
{% endblock %}