 {%  extends "base.jinja2" %}
 {% block title %} Bitcoinist Console {{ input }} {% endblock %}
 {%  block body %} 
 <div class="container">  
 
<h3>Dashboard Console</h3>
<br />
<div class="message">
<a class="navi" href="/currencies"><button>Analytics</button></a> 
<br />
 
</div>
{% endblock %}